@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    .container {
      border: 2px solid red;
      .first_screen_page {
        border: inherit;
        width: 100%;
        height: 100vh;
        background: url("../image/Background.png");
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .first_screen_page_inner {
          height: 200px;
          display: flex;
          min-height: 200px;
          flex-direction: column;
          align-content: space-between;
          .first_screen_page_time {
            gap: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .first_screen_page_time_hour {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 275;
              font-size: 160px;
              line-height: 75%;
              text-align: center;
              font-feature-settings: "ss02" on;
              color: #ffffff;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              gap: 12px;
              span {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 275;
                font-size: 44px;
                line-height: 100%;
                text-align: center;
                font-feature-settings: "ss02" on;
                color: #ffffff;
                text-transform: uppercase;
              }
            }
            .first_screen_page_time_date {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 22px;
              line-height: 150%;
              text-align: center;
              font-feature-settings: "ss02" on;
              color: #ffffff;
            }
          }
          .first_screen_page_login_btn {
            border: 1.5px solid #ff5c00;
            padding: 10px 12px;
            background-color: #ff5c00;
            border-radius: 58px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            font-feature-settings: "ss02" on;
            color: #ffffff;
            text-align: center;
            margin-top: 40%;
            cursor: pointer;
            transition: all 0.4s;
            backdrop-filter: blur(10px);
            text-decoration: none;
            &:hover {
              background: rgba(255, 255, 255, 0.04);
              backdrop-filter: blur(10px);
            }
          }
        }
        @media screen and (max-width: 768px) {
          .first_screen_page_inner {
            .first_screen_page_time {
              .first_screen_page_time_hour {
                font-size: 72px;
                line-height: 75%;
                text-align: center;
                justify-content: center;
                span {
                  font-size: 24px;
                  line-height: 100%;
                }
              }
              .first_screen_page_time_date {
                font-size: 14px;
                line-height: 150%;
              }
            }
            .first_screen_page_login_btn {
              font-size: 14px;
              line-height: 150%;
              padding: 8px 10px;
              margin-top: 50%;
            }
          }
        }
      }
      .login_page {
        width: 100%;
        height: 100vh;
        background: url("../image/background_login.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 44px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .login_page_inner {
          max-height: 700px;
          max-width: 620px;
          width: min(620px, 100%);
          padding: 44px 80px;
          background: #ffffff;
          box-shadow: 0px 24px 64px -16px rgba(25, 25, 28, 0.08);
          border-radius: 16px;
          .login_page_inner_logo {
            width: 151px;
            height: 58px;
            margin: auto;
            img {
              height: 100%;
              object-fit: cover;
              width: 100%;
            }
          }
          .login_page_inner_form {
            margin-top: 10%;
            h1 {
              text-align: center;
              font-family: "Poppins";
              font-style: normal;
              font-weight: 600;
              font-size: 28px;
              line-height: 150%;
              text-align: center;
              font-feature-settings: "ss02" on;
              color: #19191c;
            }
            p {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 150%;
              text-align: center;
              font-feature-settings: "ss02" on;
              color: #828487;
              text-align: center;
              margin-top: 16px;
            }
            form {
              margin-top: 32px;
              label {
                display: flex;
                flex-direction: column;
                gap: 4px;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 150%;
                font-feature-settings: "ss02" on;
                color: #828487;
                .input_box {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  padding: 12px 16px;
                  background: #ffffff;
                  border: 1px solid #e4e4e4;
                  border-radius: 58px;
                  input {
                    width: 100%;
                    border: none;
                    outline: none;
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    font-feature-settings: "ss02" on;
                    color: #19191c;
                    &::placeholder {
                      font-family: "Poppins";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 16px;
                      line-height: 150%;
                      font-feature-settings: "ss02" on;
                      color: #c2c2c2;
                    }
                  }
                  span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                }
                &:nth-of-type(2) {
                  margin-top: 20px;
                }
                &:nth-of-type(3) {
                  margin-top: 20px;
                }
              }
              a {
                text-decoration: none;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                font-feature-settings: "ss02" on;
                color: #ff5c00;
                margin-top: 20px;
                display: inline-block;
                transition: all 0.4s;
                &:hover {
                  text-decoration: underline;
                  text-decoration-color: #ff5c00;
                  text-underline-offset: 4px;
                }
              }
              .error {
                display: inline-block;
                margin-top: 5px;
                text-decoration: none;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 600;
                font-size: 10px;
                line-height: 80%;
                font-feature-settings: "ss02" on;
                color: #ff5c00;
                opacity: 0;
                transition: all 0.4s;
              }
              .showError {
                opacity: 1;
                transition: all 0.4s;
              }
              i {
                cursor: pointer;
              }
              input[type="submit"] {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 600;
                width: 100%;
                font-size: 16px;
                line-height: 150%;
                font-feature-settings: "ss02" on;
                color: #ffffff;
                padding: 12px 163px;
                background: #ff5c00;
                border: 1px solid #ff5c00;
                border-radius: 58px;
                margin-top: 32px;
                transition: all 0.4s;
                &:hover {
                  background-color: transparent;
                  color: #ff5c00;
                }
              }
            }
          }
          .login_page_inner_title {
            a {
              display: block;
              margin: auto;
              text-decoration: none;
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 150%;
              text-align: center;
              font-feature-settings: "ss02" on;
              color: #828487;
              margin-top: 4%;
            }
          }
        }
        @media screen and (max-width: 600px) {
          padding: 24px;
          .login_page_inner {
            padding: 24px 40px;
            .login_page_inner_logo {
              width: 100px;
              height: 35px;
            }
            .login_page_inner_form {
              margin-top: 10%;
              h1 {
                font-size: 24px;
                line-height: 120%;
              }
              p {
                font-size: 14px;
                line-height: 120%;
              }
              form {
                margin-top: 25px;
                label {
                  font-size: 11px;
                  line-height: 140%;
                  .input_box {
                    padding: 10px 14px;
                    input {
                      font-size: 14px;
                      line-height: 150%;
                      &::placeholder {
                        font-size: 14px;
                        line-height: 150%;
                      }
                    }
                    span {
                      svg {
                        width: 18px;
                        height: 18px;
                      }
                    }
                  }
                }
                a {
                  margin-top: 15px;
                  font-size: 12px;
                  line-height: 120%;
                }
                input[type="submit"] {
                  margin-top: 22px;
                  padding: 10px;
                  font-size: 14px;
                  line-height: 140%;
                }
              }
            }
            .login_page_inner_title {
              a {
                font-size: 14px;
                line-height: 140%;
                margin-top: 8%;
              }
            }
          }
        }
      }
      .main_page {
        width: 100%;
        header {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0 112px;
          align-items: center;
          .header_logo {
            margin-top: 16px;
            gap: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            .header_logo_img {
              cursor: pointer;
            }
            .header_logo_text {
              h3 {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                font-feature-settings: "ss02" on;
                color: #19191c;
              }
              p {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                font-feature-settings: "ss02" on;
                color: #828487;
                margin-top: 2px;
              }
            }
          }
          .header_profil {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 32px;
            nav {
              margin-top: 27px;
              ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 36px;
                li {
                  list-style-type: none;
                  a {
                    text-decoration: none;
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    font-feature-settings: "ss02" on;
                    color: #828487;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 11px;
                    transition: all 0.4s;
                    span {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    }
                    &:hover {
                      transition: all 0.4s;
                      color: #ff5c00;
                      span {
                        svg {
                          path {
                            transition: all 0.1s;
                            stroke: #ff5c00;
                            fill: #ff5c00;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .header_profil_options {
              margin-top: 21px;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 16px;
              p {
                &:first-of-type {
                  font-family: "Poppins";
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 140%;
                  font-feature-settings: "ss02" on;
                  color: #ff5c00;
                  padding: 8px 19px;
                  background: #fff5ee;
                  border: 1px solid #fff5ee;
                  border-radius: 58px;
                }
                &:last-of-type {
                  font-family: "Poppins";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 140%;
                  font-feature-settings: "ss02" on;
                  color: #19191c;
                  background: #f8f9fd;
                  border: 1px solid #f8f9fd;
                  border-radius: 40px;
                  padding: 8px 20px;
                }
              }
            }
            .header_profil_logo {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 17px;
              cursor: pointer;
            }
          }
        }
        main {
          display: flex;
          aside {
            a {
              text-decoration: none;
              font-family: "Poppins";
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 116%;
              display: block;
              color: #828487;
            }
          }
        }
      }
    }
  }
}
